{% extends 'base.html' %}

{% block title %} El MetalBlog del bien {% endblock %}

{% block content %}

    <div class="row margin-top">
        <div class="column_12">
            <h1 class="inline on-left"> Posts del Humano Normal </h1>
            <a href={% url 'post_crea' %} class="button inline on-right"> Nuevo Post</a>
            <div class="clear"></div>
        </div>
    </div>
    
    {% for post in posts %}
     <div class="row margin-top">
        <div class="column_12 bck light padding">
         <h4>{{ post.title }}</h4>
         <small>{{ post.created }}</small>
         <hr>
         <p>{{ post.content|truncatechars:255  }}</p>
         <a href="{{post.get_absolute_url}}" class="button inline on-right"> ver mas...</a>
         <div class="clear"></div>
        </div>
     </div>
    {% endfor %}
    

</div>
{% endblock %}